@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f0f0f;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent global scrollbar */
}